@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Send+Flowers&display=swap');

/*Colours:*/

$first_colour: #34D1BF;
$second_colour: #D1345B;
$third_colour: #3454D1;
$fourth_colour: #FAF33E;
$fifth_colour: #D00000;


/*Fonts:*/

$bebas_neue: 'Bebas Neue';
